@import '../../src/styles/variables';

button {
    background-color: transparent;
    border: none;
    border-radius: 50px;
    padding: 12px;
    min-width: 140px;
    box-shadow: 1px 1px 3px 1px rgb(224 224 224);
    cursor: pointer;
    transition: all 500ms;
}

button:hover {
    opacity: 0.8;
}

.leftIconBtn {
    min-width: 100px !important;
    padding: 4px !important;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: $white;
    font-weight: 600;
}

.primaryButton {
    background-color: $primary-color !important;
    font-size: 1rem !important;
    font-weight: 600 !important;
    color: $white !important;
    border-radius: 50px !important;

}

.closeIconBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 32px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    padding: 0;
    box-shadow: none;

    svg {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.nextBtn {
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-width: 120px;
    background-color: $primary-color !important;
    font-size: 1rem !important;
    font-weight: 600 !important;
    color: $white !important;
    border-radius: 8px !important;

    svg {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}