@import '../../styles/variables';

.tableStyle {
    width: 100%;
    background-color: $white;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-collapse: collapse;
    border: none;
    box-shadow: 1px 1px 9px 0px rgb(227 227 227);


    th,
    td {
        font-size: 0.8rem;
        border: none;
        padding: 12px;
    }

    thead th {
        font-size: 0.8rem;
        background-color: #F44336;
        border-bottom: 3px solid $main-background-color;
        text-align: left;
        color: $white;
        font-weight: 500;
        cursor: pointer;
    }

    tbody tr {
        border-bottom: 3px solid $main-background-color;
        font-size: 0.8rem;
        font-weight: 500;
    }

    tbody tr:last-child {
        border: none !important;
    }

    tbody td {
        border-left: none;
        border-right: none;
    }

    .checkBoxWrp {
        width: 20px;
    }


}

.paginationControls {
    width: 100%;
    background-color: $white;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 4px;
    padding: 8px 0;
    box-shadow: 1px 1px 9px 0px rgb(227, 227, 227);


    button {
        cursor: pointer;
        min-width: 32px;
        width: 32px;
        height: 32px;
        border: none;
        border-radius: 50%;
        padding: 0;
        font-size: 0.8rem;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 8px;
    }

    span {
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 1469px) {
    .tableStyle {



        th,
        td {
            font-size: 0.6rem;
            border: none;
            padding: 12px;
        }
    }
}