@import '../../styles/variables';

.tableStyle {
    width: 100%;
    background-color: $white;
    border-radius: 20px;
    border-collapse: collapse;
    border: none;
    box-shadow: 1px 1px 9px 0px rgb(227 227 227);
    ;

    th,
    td {
        border: none;
        padding: 12px 20px;
    }

    thead th {
        font-size: 0.8rem;
        background-color: #F44336;
        border-bottom: 3px solid $main-background-color;
        text-align: left;
        color: $white;
        font-weight: 500;
        cursor: pointer;
    }

    tbody tr {
        border-bottom: 3px solid $main-background-color;
        font-size: 0.8rem;
        font-weight: 500;
    }

    tbody tr:last-child {
        border: none !important;
    }

    tbody td {
        border-left: none;
        border-right: none;
    }

    .checkBoxWrp {
        width: 20px;
    }
}