@import '../styles/variables';

body {
    box-sizing: border-box;
    width: 100%;
}

h1 {
    margin: 0;
}

.content-wrap {

    margin: 50px 150px;
    margin-top: 30px;
}

.content-100 {
    width: 100%;
}

.mt-5 {
    margin-top: 60px;
}

.text-xs {
    font-size: 0.5rem;
}

.text-sm {
    font-size: 0.8rem;
}

.header-md {
    font-size: 1.6rem;
}



.chrtwrp {
    padding: 8px;
    border-radius: 10px;
    box-shadow: 1px 1px 9px 0px rgb(227 227 227);
    background-color: $white;
}


.alertModal {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 500ms;
    animation: moveDown 1s ease-in-out forwards;
    z-index: 3;
}


@media screen and (max-width: 1469px) {
    .content-wrap {
        // width: 100%;
        margin: 40px;
    }
}