@import '../../styles/variables';

.filterWrp {
    display: flex;
    margin: 16px 0;

    .filterItemSection {
        display: flex;
        flex-direction: column;

        .headersWrp {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;

            .headerItem {
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: .25rem;
                max-width: 160px;
                min-width: 120px;
                margin: 8px;
                padding: 8px 14px;
                border: 1px solid #496bf3;
                box-shadow: none;
                background-color: #ebf1ff;

                p {
                    margin: 0;
                    color: #496bf3;
                    font-size: 12px;
                    text-align: center;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }

            .headerItemActive {
                background-color: #3B47FE;

                p {
                    color: #ffffff;
                }
            }
        }
    }
}



.footerFilter {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.advanceFilterApply {
    width: 35vw;
    overflow: auto;
}

.selectionalModal {
    width: 40vw;
    max-height: 70vh;
    overflow: auto;


    .headerItem {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between !important;
        padding: 8px !important;
    }
}

.wrpGrp {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    h5 {
        font-size: 14px;
    }
}


.wrapGrp42 {
    width: 42%;
    height: 100%;
}

.wrapGrp48 {
    width: 48%;
    height: 100%;
}

.wrapGrp30 {
    width: 30%;
    height: 100%;
}


.wrapGrp50 {
    width: 50%;
    height: 100%;
}

.wrapGrp55 {
    width: 55%;
    height: 100%;
}

.wrapGrp60 {
    width: 60%;
    height: 100%;
}

.wrapGrp68 {
    width: 68%;
    height: 100%;
}

.wrapGrp70 {
    width: 70%;
    height: 100%;
}

.wrapGrptbleChr {
    .groupTblChrt {
        display: flex;
        justify-content: space-between;
    }
}

.wrapGrp {
    box-shadow: 1px 0px 5px 0px #A3A3A3;
    border-radius: 8px;
    padding: 12px;
    margin: 4px;

    .graphTitle {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .groupTblChrt {
        display: flex;
        justify-content: space-between;
    }
}

.forecastTable {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    justify-content: space-between;
    /* Distributes space evenly between columns */
    margin-bottom: 20px;
    /* Add some space between rows */
}

.commoditySection {
    flex: 1;
    margin: 0 10px;
    /* Adjust spacing between columns */
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table th,
.table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}


.selectedFilters {
    margin-bottom: 20px;
}

.selectedFilters h3 {
    margin-bottom: 10px;
}

.selectedFilters p {
    margin: 5px 0;
}


.predictedItemSummery {
    display: flex;
    flex-direction: column;


}

.predictedItemWrp {
    display: flex;
    align-items: center;
    flex-wrap: wrap;


    p {
        font-size: 10px;
        margin: 4px;
        margin-left: 0;
        background-color: #FFF4DE;
        border-radius: 8px;
        padding: 4px;
        font-weight: 600;
        box-shadow: 1px 1px 2px 0px #33333333;
    }

}

.predictedItemWrpScn {
    p {
        background-color: #DCFCE7;
    }
}

.predictedItemWrpThr {
    p {
        background-color: #F3E8FF;
    }
}


.alertModal {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 500ms;
    animation: moveDown 1s ease-in-out forwards;
    z-index: 3;
}

.predictionDescription {
    font-weight: 400;
    color: #003265;
    margin-bottom: 1rem;
    font-size: 18px;
}

.wrapCaliiCard {
    display: inline-block;
    text-align: left;
    border-radius: 20px;
    padding: 32px;
    background-color: #FAFAFA;
    border: 2px solid #EBEBEB;
    max-width: 280px;
    margin-right: 20px;
    margin-bottom: 20px;


    .cardTitle {
        font-size: 24px;
        margin: 4px 0;
    }

    .scroeDescr {
        margin: 20px 0;

        .scroeTitle {

            font: 16px;
        }
    }

    .scoreVal {
        font-size: 14px;
        font-weight: 500;
        color: #A3A3A3;
    }

    .scrDesc,
    .scrDescMidDng,
    .scrDescDng {
        color: #A3A3A3;
        font-size: 12px;
    }

    .scrDescDng {
        color: #EC6522;
    }

    .scrDescMidDng {
        color: #F13672;
    }

}

.wrapCaliiCard:last-child {
    margin-right: 0;
}

