@import '../../styles/variables';

.wrpRow {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 8px 0;

    .tblWrp {
        width: 70%;
        margin-right: 12px;
    }

    .mainChrWrp {
        width: 30%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 12px;
    }

    .rowTripleChrtFiftyFity {
        width: 40%;
        margin-top: 12px;
    }
}

.wrpRowCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

.tripleChart {
    display: flex;
    align-items: flex-start;
}



.wrapOptions {
    display: flex;
    align-items: center;

    button {
        margin-right: 12px;
    }
}

.tableWrp {
    width: 100%;
}

.sectionHeader {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 8px 0;
}

.card-checkbox:checked+.modalCenter {
    border-color: #007bff;
    background-color: #e0e7ff;


}

.alertModal {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 500ms;
    animation: moveDown 1s ease-in-out forwards;
    z-index: 3;
}


@keyframes moveDown {
    from {
        top: -5%;
        opacity: 0;
    }

    to {
        top: 20%;
        opacity: 1;
    }
}

.wrapFilters {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .dropdownWrp {
        margin-right: 20px;
    }

    .checkBoxWrp {
        width: 500px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;


    }

    .checkboxItem {
        min-width: 120px;
        margin: 4px;

        label {
            padding-left: 4px;
        }
    }
}

.filteredSummery {
    width: 100%;
    display: flex;
    align-items: baseline;
    justify-content: center;
    border-top: 1px solid #ECF0F5;
    border-bottom: 1px solid #ECF0F5;
    margin: 8px 0;
    padding: 8px;

    .summeryItem {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        min-width: 250px;
        border-right: 1px solid #ECF0F5;
        margin: 0 12px;
        height: 130px;

        h6 {
            font-size: 12px;
            padding: 8px 0;
            color: #8E96A5;
        }

        .summeryValue {
            font-size: 20px;
            font-weight: bold;
        }

        .headerListWrp {
            display: flex;
            align-items: center;
            flex-wrap: wrap;

            .headerList {
                font-size: 10px;
                margin: 4px;
                background-color: #DFFBF0;
                border-radius: 8px;
                padding: 4px;
                font-weight: 600;
            }
        }
    }

    .summeryItem:last-child {
        border: none;
    }
}