@import '../../styles/variables';

.wrpRow {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 8px 0;

    .tblWrp {
        width: 70%;
        margin-right: 12px;
    }

    .mainChrWrp {
        width: 30%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 12px;
    }

    .rowTripleChrtFiftyFity {
        width: 40%;
        margin-top: 12px;
    }
}

.wrpRowCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

.tripleChart {
    display: flex;
    align-items: flex-start;
}



.wrapOptions {
    display: flex;
    align-items: center;

    button {
        margin-right: 12px;
    }
}

.tableWrp {
    width: 100%;
}

.sectionHeader {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-checkbox:checked+.modalCenter {
    border-color: #007bff;
    background-color: #e0e7ff;


}

.alertModal {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 500ms;
    animation: moveDown 1s ease-in-out forwards;
    z-index: 3;
}


@keyframes moveDown {
    from {
        top: -5%;
        opacity: 0;
    }

    to {
        top: 20%;
        opacity: 1;
    }
}

.wrapFilters {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .dropdownWrp {
        margin-right: 20px;
    }

    .checkBoxWrp {
        width: 500px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;


    }

    .checkboxItem {
        min-width: 120px;
        margin: 4px;

        label {
            padding-left: 4px;
        }
    }
}